# Vscode
.vscode

# Ruff
.ruff_cache

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Pytest and coverage
.pytest_cache
.coverage
htmlcov

# Sphinx
docs/_build

# Data files - gitignore trick - keep folder structure but not files
# This is causing an issue with the resources .py files
*.duckdb
*.parquet

# DBT
target/
dbt_packages/
logs/
