# Vscode
.vscode

# Ruff
.ruff_cache

# Byte-compiled / optimized / DLL files
__pycache__/

# Pytest and coverage
.pytest_cache
.coverage
htmlcov

# Scratch Files
scratch/
scratch_secrets.json

# Sphinx
docs/_build

# Data files - gitignore trick - keep folder structure but not files
*
!*/
!.gitignore
!.gitkeep
